*{
    margin: 0;
    padding: 0;
    font-family:dancing script;
}
body{
    scroll-behavior: smooth;
    background-image: url(background.jpg);
    background-size: contain;
    color: #fffdd0;
    font-size: 24px;
}
.container{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.image2 img{
    width: 450px;
    margin-top: 50px;
   position: absolute;
   left: 870px;
   top:10px ;
   border-radius:40px ;
   transition: transform 0.5s ease ;
   cursor: pointer;
}
.image2 img:hover {
    transform: translateY(-10px);
    box-shadow:  10px 10px 10px  #ec8611;
}

h1{
    margin-left:20px;
    margin-top: 20px;
}
.buttons{
    margin-left: 20px;
    display: flex;
   justify-content: space-around;
   margin-top: 10px;
}
.h1{
    transition: color 0.3s;
    cursor: pointer;
}
.h1:hover{
    color: #ec8611 ;
;
}
button{
    cursor: pointer;
    font-size: 28px;
    background-color:#C04000 ;
    border-radius: 30px;
    transition: transform 0.2s, background-color 0.2s;
}
button:hover{
    transform: scale(1.1); /* Scale up on hover */
    background-color: purple;
}

/*---------------------------about-----------------------*/
.container2{
    margin-top: 350px;
}
.first{
    font-size: 40px;
    color: #ec8611;
}
.images-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image4{
    border-radius: 40px;
    transition: transform 0.5s ease ;
    cursor: pointer;
    
}
.image4:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}
.image6{
    border-radius: 40px;
    transition: transform 0.5s ease ;
    cursor: pointer;
}
.image6:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}
.image5{
    border-radius: 40px;
    transition: transform 0.5s ease ;
    cursor: pointer;
}
.image5:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}
.para{
    color: #ec8611;
    transition: color 0.3s;
}
.para:hover {
    color: #fffdd0 ; 
}
#intro{
    width: 800px;
    margin-left: 17%;
    background-image: url(image11.avif);
    background-repeat: repeat;
    padding: 20px 40px 20px 40px ;
    border-radius: 20px;
    transition: transform 0.5s ease ;
    cursor: pointer;

}
#intro:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}
#project1{
    width: 800px;
    background-image: url(image11.avif);
    background-repeat: repeat;
    padding: 20px 40px 20px 40px ;
    border-radius: 20px;
    transition: transform 0.5s ease ;
    cursor: pointer;
}
#project1:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}
#project2{
    width: 800px;
    margin-left: 34%;
    background-image: url(image11.avif);
    background-repeat: repeat;
    padding: 20px 40px 20px 40px ;
    border-radius: 20px;
    transition: transform 0.5s ease ;
    cursor: pointer;
}
#project2:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}
#project3{
    width: 800px;
    
    background-image: url(image11.avif);
    background-repeat: repeat;
    padding: 20px 40px 20px 40px ;
    border-radius: 20px;
    transition: transform 0.5s ease ;
    cursor: pointer;
}
#project3:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}

#conclution{
    width: 800px;
    margin-left: 17%;
    background-image: url(image11.avif);
    background-repeat: repeat;
    padding: 20px 40px 20px 40px ;
    border-radius: 20px;
    transition: transform 0.5s ease ;
    cursor: pointer;
}
#conclution:hover {
    transform: translateY(-20px);
    box-shadow:  10px 10px 10px  #ec8611;
}

############################